{% extends 'SandraPokemonBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
<script>
    $(function() {
        $( "#zones, #selected-zones" ).sortable({
            connectWith: ".connectedZone"
        }).disableSelection();
    });

    $(function() {
        $( "#types, #selected-types" ).sortable({
            connectWith: ".connectedType"
        }).disableSelection();
    });

    $('body').on('click', '#submit-btn', function (e) {
        e.preventDefault();
        var selectedZones = $('#selected-zones');
        selectedZones.find('li').each(function(index) {
            var id = $(this).data('value');
            $('#pokemon_definition_zones option[value='+id+']').prop('selected', true)
        });
        var selectedEvolutions = $('#selected-evolutions');
        selectedEvolutions.find('li').each(function(index) {
            var id = $(this).data('value');
            $('#pokemon_definition_types option[value='+id+']').prop('selected', true)
        })

        $('#pokemonForm').submit();
    });

</script>

{% endblock %}

{% block content_body %}
    <div class="row" style="margin: 10px;">
        <h1>Créateur de pokémon</h1>

        {% if result %}
            {{ result }}
        {% endif %}

        {{ form_start(pokemonForm) }}
        <div class="form-group">
            {{ form_label(pokemonForm.nom) }}
            {{ form_widget(pokemonForm.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(pokemonForm.attaque) }}
            {{ form_widget(pokemonForm.attaque, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(pokemonForm.attaqueSpe) }}
            {{ form_widget(pokemonForm.attaqueSpe, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(pokemonForm.defence) }}
            {{ form_widget(pokemonForm.defence, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(pokemonForm.defenceSpe) }}
            {{ form_widget(pokemonForm.defenceSpe, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(pokemonForm.vitesse) }}
            {{ form_widget(pokemonForm.vitesse, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(pokemonForm.pv) }}
            {{ form_widget(pokemonForm.pv, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group col-md-12">
            {{ form_label(pokemonForm.idZones, "Zones") }}
            </br>

            <ul id="selected-zones" style="margin-right: 10px;" class="connectedZone col-md-5 zones-background">

            </ul>

                <div class="col-md-5 zones-background">
                    <ul id="zones" class="col-md-12 connectedZone">
                        {% for zone in zones %}
                            <li class="zone-li" data-value="{{ zone.idZones }}">{{ zone.nom }}
                            </li>
                        {% endfor %}
                    </ul>

                </div>
        </div>

        <div class="form-group col-md-12">
            {{ form_label(pokemonForm.idTypes, "Types") }}
            </br>

            <ul id="selected-types" style="margin-right: 10px;" class="connectedType col-md-5 types-background">

            </ul>

                <div class="col-md-5 types-background">
                    <ul id="types" class="col-md-12 connectedType">
                        {% for type in types %}
                            <li class="type-li" data-value="{{ type.idTypes }}">
                                {{ type.nom }}
                            </li>
                        {% endfor %}
                    </ul>

                </div>
        </div>

        <div class="form-group">
            {{ form_widget(pokemonForm.idZones, {'attr': {'id': 'pokemon_definition_zones', 'class' : 'hidden'}}) }}
            {{ form_widget(pokemonForm.idTypes, {'attr': {'id': 'pokemon_definition_types', 'class' : 'hidden'}}) }}
        </div>

        <input type="submit" class="btn btn-default" value="Valider"/>

        {{ form_end(pokemonForm) }}
    </div>

{% endblock %}