{% extends 'base.html.twig' %}

{% block body %}
    <h1>Arenes list</h1>

    <table>
        <thead>
            <tr>
                <th>Idbadges</th>
                <th>Idpositions</th>
                <th>Nom</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arene in arenes %}
            <tr>
                <td><a href="{{ path('arenes_show', { 'id': arene.id }) }}">{{ arene.idBadges }}</a></td>
                <td>{{ arene.idPositions }}</td>
                <td>{{ arene.nom }}</td>
                <td>{{ arene.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('arenes_show', { 'id': arene.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('arenes_edit', { 'id': arene.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('arenes_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
