{% extends 'base.html.twig' %}

{% block body %}
    <h1>Arenes</h1>

    <table>
        <tbody>
            <tr>
                <th>Idbadges</th>
                <td>{{ arene.idBadges }}</td>
            </tr>
            <tr>
                <th>Idpositions</th>
                <td>{{ arene.idPositions }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ arene.nom }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ arene.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('arenes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('arenes_edit', { 'id': arene.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
