{% extends 'base.html.twig' %}

{% block body %}
    <h1>Zones</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ zone.nom }}</td>
            </tr>
            <tr>
                <th>Idzones</th>
                <td>{{ zone.idZones }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('zones_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('zones_edit', { 'id': zone.idZones }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
