{% extends 'base.html.twig' %}

{% block body %}
    <h1>TypeObjet list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeObjet in typeObjets %}
            <tr>
                <td><a href="{{ path('typeobjet_show', { 'id': typeObjet.id }) }}">{{ typeObjet.nom }}</a></td>
                <td>{{ typeObjet.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typeobjet_show', { 'id': typeObjet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typeobjet_edit', { 'id': typeObjet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typeobjet_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
