{% extends 'SandraPokemonBundle::base.html.twig' %}

{% block content_body %}
    <div class="col-md-12">
        <h1>Mes pokémons</h1>

    {% for pokemon in pokemons %}
        <div class="pokemon" >
            <img src="{{ asset('img/pokeball.png') }}" style="margin-top: 18px;" alt="pokeball" class="img-responsive col-md-3"/>

            <div class="col-md-9">
                <label>{{ pokemon.surnom }}</label> <span> LVL {{ pokemon.niveau }}</span>
                </br>
                <label>{{ pokemon.idPokemons }}</label>
                </br>
                <label>{% if pokemon.capture %}Capturé le : {{ pokemon.capture|date('d/m') }}{% endif %}</label>


            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
