{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dresseurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Iddresseur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dresseur in dresseurs %}
            <tr>
                <td><a href="{{ path('dresseurs_show', { 'id': dresseur.idDresseur }) }}">{{ dresseur.nom }}</a></td>
                <td>{{ dresseur.idDresseur }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dresseurs_show', { 'id': dresseur.idDresseur }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dresseurs_edit', { 'id': dresseur.idDresseur }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dresseurs_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
