{% extends 'base.html.twig' %}

{% block body %}
    <h1>Badges</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ badge.nom }}</td>
            </tr>
            <tr>
                <th>Idbadges</th>
                <td>{{ badge.idBadges }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('badges_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('badges_edit', { 'id': badge.idBadges }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
