{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dresseurs</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ dresseur.nom }}</td>
            </tr>
            <tr>
                <th>Iddresseur</th>
                <td>{{ dresseur.idDresseur }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dresseurs_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dresseurs_edit', { 'id': dresseur.idDresseur }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
