{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pokemons list</h1>

    <table>
        <thead>
            <tr>
                <th>Surnom</th>
                <th>Niveau</th>
                <th>Capture</th>
                <th>Idpokemons</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemons %}
            <tr>
                <td><a href="{{ path('pokemons_show', { 'id': pokemon.idPokemons }) }}">{{ pokemon.surnom }}</a></td>
                <td>{{ pokemon.niveau }}</td>
                <td>{% if pokemon.capture %}{{ pokemon.capture|date('Y-m-d') }}{% endif %}</td>
                <td>{{ pokemon.idPokemons }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pokemons_show', { 'id': pokemon.idPokemons }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pokemons_edit', { 'id': pokemon.idPokemons }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pokemons_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
