{% extends 'base.html.twig' %}

{% block body %}
    <h1>Types list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Idtypes</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td><a href="{{ path('types_show', { 'id': type.idTypes }) }}">{{ type.nom }}</a></td>
                <td>{{ type.idTypes }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('types_show', { 'id': type.idTypes }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('types_edit', { 'id': type.idTypes }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('types_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
