{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attaques list</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Puissance</th>
                <th>Precis</th>
                <th>Idattaques</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attaque in attaques %}
            <tr>
                <td><a href="{{ path('attaques_show', { 'id': attaque.idAttaques }) }}">{{ attaque.nom }}</a></td>
                <td>{{ attaque.puissance }}</td>
                <td>{{ attaque.precis }}</td>
                <td>{{ attaque.idAttaques }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('attaques_show', { 'id': attaque.idAttaques }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('attaques_edit', { 'id': attaque.idAttaques }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attaques_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
