{% extends 'base.html.twig' %}

{% block body %}
    <h1>Attaques</h1>

    <table>
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ attaque.nom }}</td>
            </tr>
            <tr>
                <th>Puissance</th>
                <td>{{ attaque.puissance }}</td>
            </tr>
            <tr>
                <th>Precis</th>
                <td>{{ attaque.precis }}</td>
            </tr>
            <tr>
                <th>Idattaques</th>
                <td>{{ attaque.idAttaques }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attaques_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('attaques_edit', { 'id': attaque.idAttaques }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
