{% extends 'base.html.twig' %}

{% block body %}
    <h1>Positions</h1>

    <table>
        <tbody>
            <tr>
                <th>X</th>
                <td>{{ position.x }}</td>
            </tr>
            <tr>
                <th>Y</th>
                <td>{{ position.y }}</td>
            </tr>
            <tr>
                <th>Idpositions</th>
                <td>{{ position.idPositions }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('positions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('positions_edit', { 'id': position.idPositions }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
